<a href="https://colab.research.google.com/github/IshaqKHATTAK/Natural-Language-Processing/blob/main/Edit_distance_%26_tfidf_scrach.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk
from nltk.corpus import twitter_samples
from nltk.tokenize import word_tokenize

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

#part 1

###reading data

In [3]:
example1 = "/content/New Text Document.txt"
file1 = open(example1, "r")

In [4]:
F = file1.read()
type(F)

str

In [5]:
df = F.split('.')
for i in range(0,len(df)):
  df[i] = df[i].lower()

In [6]:
df[0]
df = df[0: len(df)-1]

In [7]:
df

['the intelligence exhibited by machines is termed artificial intelligence (ai)',
 ' it induces the capability to think and learn in the machines',
 'it refers that the machine will exhibit human intelligence',
 'artificial intelligence came into existence in the year 1955',
 'john mccarthy is regarded as the father of artificial intelligence',
 ' he was a computer scientist in the united states of america',
 ' ai aims to make the life of human beings more convenient',
 'there are very few chances of occurrence of error by using ai',
 'they work according to the commands given in form of programs',
 ' python programming language is widely used for ai at present',
 'artificial intelligence is a great invention of the human mind',
 'this is artificially developed intelligence in computers and machines']

###1.2 why we select this documnets on what absis.

In [ ]:
#as these all documents are related to some what artificial intelligence and computer porgramming so we select this documents 
#the basis that they are about same topic.

###1.3 summary

In [ ]:
sum = 0
for i in range(0,len(df)):
  sum = sum +df[i].count('artificial intelligence') 
sum

4

In [ ]:
##as seen in the above code the number of time the word artificial intelligence apear in the documents.

#part 2

###implement minimum edit distance

In [9]:
# A Dynamic Programming based Python program for edit
# distance problem


def editDistDP(str1, str2, m, n):
	# Create a table to store results of subproblems
	dp = [[0 for x in range(n + 1)] for x in range(m + 1)]

	# Fill d[][] in bottom up manner
	for i in range(m + 1):
		for j in range(n + 1):
    
			if i == 0:
				dp[i][j] = j # Min. operations = j

			elif j == 0:
				dp[i][j] = i # Min. operations = i

			elif str1[i-1] == str2[j-1]:
				dp[i][j] = dp[i-1][j-1]

			else:
				dp[i][j] = 1 + min(dp[i][j-1],	 # Insert
								dp[i-1][j],	 # Remove
								dp[i-1][j-1]) # Replace
  
	return dp[m][n]

###similarity between the documnets using the the number of minimum edit distance operations.

In [10]:

for i in range(0,len(df)):
  if i ==11:
    break
  str1 = df[0]
  str2 = df[i]
  print (f'to convert the string {str1} to {str2} required {editDistDP(str1, str2, len(str1), len(str2))} operatioin')

to convert the string the intelligence exhibited by machines is termed artificial intelligence (ai) to the intelligence exhibited by machines is termed artificial intelligence (ai) required 0 operatioin
to convert the string the intelligence exhibited by machines is termed artificial intelligence (ai) to  it induces the capability to think and learn in the machines required 57 operatioin
to convert the string the intelligence exhibited by machines is termed artificial intelligence (ai) to it refers that the machine will exhibit human intelligence required 46 operatioin
to convert the string the intelligence exhibited by machines is termed artificial intelligence (ai) to artificial intelligence came into existence in the year 1955 required 55 operatioin
to convert the string the intelligence exhibited by machines is termed artificial intelligence (ai) to john mccarthy is regarded as the father of artificial intelligence required 42 operatioin
to convert the string the intelligence exhibited by machines is termed artificial intelligence (ai) to  he was a computer scientist in the united states of america required 58 operatioin
to convert the string the intelligence exhibited by machines is termed artificial intelligence (ai) to  ai aims to make the life of human beings more convenient required 58 operatioin
to convert the string the intelligence exhibited by machines is termed artificial intelligence (ai) to there are very few chances of occurrence of error by using ai required 57 operatioin
to convert the string the intelligence exhibited by machines is termed artificial intelligence (ai) to they work according to the commands given in form of programs required 61 operatioin
to convert the string the intelligence exhibited by machines is termed artificial intelligence (ai) to  python programming language is widely used for ai at present required 61 operatioin
to convert the string the intelligence exhibited by machines is termed artificial intelligence (ai) to artificial intelligence is a great invention of the human mind required 57 operatioin

In [11]:
for i in range(0,len(df)):
  if i ==11:
    break
  str1 = df[2]
  str2 = df[i]
  print (f'to convert the string {str1} to {str2} required {editDistDP(str1, str2, len(str1), len(str2))} operatioin')

to convert the string it refers that the machine will exhibit human intelligence to the intelligence exhibited by machines is termed artificial intelligence (ai) required 46 operatioin
to convert the string it refers that the machine will exhibit human intelligence to  it induces the capability to think and learn in the machines required 45 operatioin
to convert the string it refers that the machine will exhibit human intelligence to it refers that the machine will exhibit human intelligence required 0 operatioin
to convert the string it refers that the machine will exhibit human intelligence to artificial intelligence came into existence in the year 1955 required 49 operatioin
to convert the string it refers that the machine will exhibit human intelligence to john mccarthy is regarded as the father of artificial intelligence required 41 operatioin
to convert the string it refers that the machine will exhibit human intelligence to  he was a computer scientist in the united states of america required 49 operatioin
to convert the string it refers that the machine will exhibit human intelligence to  ai aims to make the life of human beings more convenient required 43 operatioin
to convert the string it refers that the machine will exhibit human intelligence to there are very few chances of occurrence of error by using ai required 49 operatioin
to convert the string it refers that the machine will exhibit human intelligence to they work according to the commands given in form of programs required 50 operatioin
to convert the string it refers that the machine will exhibit human intelligence to  python programming language is widely used for ai at present required 50 operatioin
to convert the string it refers that the machine will exhibit human intelligence to artificial intelligence is a great invention of the human mind required 51 operatioin

###limitation of edit distance

In [12]:
## The problem with the edit distance is the complesity of searching the word if the vocabulary is greater. In 
#   this case the algorithm searches for the best match among the vocabulary so it take a lot time to find out the 
#    best match
## the second problem is the comlixity of word if the word is long or the pattern we are searching for is long.

###comparision between the two

In [13]:
distance=nltk.edit_distance('sunday' , 'saturday' )
print(distance)

3

In [14]:
str1 = "sunday"
str2 = "saturday"



print (editDistDP(str1, str2, len(str1), len(str2)))

3

# part 3

In [21]:
words = []
for doc in df:
  doc = word_tokenize(doc)
  for word in doc:
    words.append(word)

In [22]:
def term_freq(doc,words):
  vocab = {}
  doc = word_tokenize(doc)
  total = len(doc)
  for word in words:
    count = doc.count(word)
    vocab[word] = count / total
  return vocab

In [23]:
tf = []
for doc in df:
  tf.append((term_freq(doc,words)))

In [24]:
len(tf)

12

In [25]:
def inverse_freq(df,words):
  i_f = {}
  total  = len(df)
  for word in words:
    count = 0
    for doc in df:
      if word in doc:
        count = count + 1
    i_f[word] = count / total  
  return i_f

In [26]:
i_freq = inverse_freq(df,words)

In [27]:
len(i_freq)

80

In [28]:
i_freq['intelligence']

0.5

In [29]:
## tfidf through the documnet wise
tf_idf = []
for term_frq in tf:
  doc_tf_idf = {}
  for word in i_freq.keys():
    doc_tf_idf[word] = (term_frq[word] * i_freq[word])
  tf_idf.append(doc_tf_idf)

In [30]:
print('document 1 tfidf')
print(tf_idf[0])

document 1 tfidf
{'the': 0.06944444444444445, 'intelligence': 0.08333333333333333, 'exhibited': 0.006944444444444444, 'by': 0.013888888888888888, 'machines': 0.020833333333333332, 'is': 0.04861111111111111, 'termed': 0.006944444444444444, 'artificial': 0.034722222222222224, '(': 0.006944444444444444, 'ai': 0.027777777777777776, ')': 0.006944444444444444, 'it': 0.0, 'induces': 0.0, 'capability': 0.0, 'to': 0.0, 'think': 0.0, 'and': 0.0, 'learn': 0.0, 'in': 0.0, 'refers': 0.0, 'that': 0.0, 'machine': 0.0, 'will': 0.0, 'exhibit': 0.0, 'human': 0.0, 'came': 0.0, 'into': 0.0, 'existence': 0.0, 'year': 0.0, '1955': 0.0, 'john': 0.0, 'mccarthy': 0.0, 'regarded': 0.0, 'as': 0.0, 'father': 0.0, 'of': 0.0, 'he': 0.0, 'was': 0.0, 'a': 0.0, 'computer': 0.0, 'scientist': 0.0, 'united': 0.0, 'states': 0.0, 'america': 0.0, 'aims': 0.0, 'make': 0.0, 'life': 0.0, 'beings': 0.0, 'more': 0.0, 'convenient': 0.0, 'there': 0.0, 'are': 0.0, 'very': 0.0, 'few': 0.0, 'chances': 0.0, 'occurrence': 0.0, 'error': 0.0, 'using': 0.0, 'they': 0.0, 'work': 0.0, 'according': 0.0, 'commands': 0.0, 'given': 0.0, 'form': 0.0, 'programs': 0.0, 'python': 0.0, 'programming': 0.0, 'language': 0.0, 'widely': 0.0, 'used': 0.0, 'for': 0.0, 'at': 0.0, 'present': 0.0, 'great': 0.0, 'invention': 0.0, 'mind': 0.0, 'this': 0.0, 'artificially': 0.0, 'developed': 0.0, 'computers': 0.0}

###using nltk

In [31]:
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

tf_vector = tfidf.fit_transform([df[0], df[1], df[2], df[3], df[4], df[5], df[6], df[7], df[8], df[9], df[10], df[11]])

In [32]:
tf_arr = tf_vector.toarray()

In [33]:
tfidf.get_feature_names_out()

array(['1955', 'according', 'ai', 'aims', 'america', 'and', 'are',
       'artificial', 'artificially', 'as', 'at', 'beings', 'by', 'came',
       'capability', 'chances', 'commands', 'computer', 'computers',
       'convenient', 'developed', 'error', 'exhibit', 'exhibited',
       'existence', 'father', 'few', 'for', 'form', 'given', 'great',
       'he', 'human', 'in', 'induces', 'intelligence', 'into',
       'invention', 'is', 'it', 'john', 'language', 'learn', 'life',
       'machine', 'machines', 'make', 'mccarthy', 'mind', 'more',
       'occurrence', 'of', 'present', 'programming', 'programs', 'python',
       'refers', 'regarded', 'scientist', 'states', 'termed', 'that',
       'the', 'there', 'they', 'think', 'this', 'to', 'united', 'used',
       'using', 'very', 'was', 'widely', 'will', 'work', 'year'],
      dtype=object)

In [35]:
import pandas as pd
df_tf_idf = pd.DataFrame(tf_arr, columns = tfidf.get_feature_names_out())

In [36]:
df_tf_idf

,1955,according,ai,aims,america,and,are,artificial,artificially,as,...,to,united,used,using,very,was,widely,will,work,year
0,0.000000,0.000000,0.276014,0.000000,0.000000,0.000000,0.00000,0.276014,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.307893,0.00000,0.000000,0.000000,0.000000,...,0.271979,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.382803,0.000000,0.000000
3,0.396651,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.270094,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.396651
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.263584,0.000000,0.387091,...,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.355957,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.355957,0.000000,0.00000,0.00000,0.355957,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.238876,0.350806,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.266134,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.210416,0.000000,0.000000,0.000000,0.30901,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.30901,0.30901,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.343648,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.260704,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.343648,0.000000
9,0.000000,0.000000,0.228960,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.336243,0.00000,0.00000,0.000000,0.336243,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.297203,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.339650,0.00000,0.000000,0.395488,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tf_vector, tf_vector)

In [38]:
print('------the i row and jth column represent the similarity of ith doc and jth doc-----')
for doc in cosine_sim:
  print(doc)
#12 rows 12 columns (12 docs)

------the i row and jth column represent the similarity of ith doc and jth doc-----
[1.         0.13979491 0.12861828 0.20782069 0.26263067 0.02787941
 0.09340909 0.15046118 0.0269153  0.11515731 0.29612834 0.25528431]
[0.13979491 1.         0.15425718 0.10916821 0.05362962 0.09796827
 0.12098552 0.         0.16548645 0.         0.0604699  0.24023329]
[0.12861828 0.15425718 1.         0.0775993  0.07572895 0.02632899
 0.10323572 0.         0.0254185  0.         0.18154717 0.04811884]
[0.20782069 0.10916821 0.0775993  1.         0.1496608  0.08110946
 0.02688662 0.         0.07830459 0.         0.16874954 0.10966543]
[0.26263067 0.05362962 0.07572895 0.1496608  1.         0.07041809
 0.06939901 0.07603643 0.06798295 0.04962123 0.28279245 0.10702219]
[0.02787941 0.09796827 0.02632899 0.08110946 0.07041809 1.
 0.0638173  0.06992088 0.10915028 0.         0.07939968 0.0536702 ]
[0.09340909 0.12098552 0.10323572 0.02688662 0.06939901 0.0638173
 1.         0.11917239 0.13099274 0.05469302 0.16637223 0.        ]
[0.15046118 0.         0.         0.         0.07603643 0.06992088
 0.11917239 1.         0.06750293 0.0481768  0.08573462 0.        ]
[0.0269153  0.16548645 0.0254185  0.07830459 0.06798295 0.10915028
 0.13099274 0.06750293 1.         0.         0.07665395 0.05181422]
[0.11515731 0.         0.         0.         0.04962123 0.
 0.05469302 0.0481768  0.         1.         0.05595025 0.05069771]
[0.29612834 0.0604699  0.18154717 0.16874954 0.28279245 0.07939968
 0.16637223 0.08573462 0.07665395 0.05595025 1.         0.12067251]
[0.25528431 0.24023329 0.04811884 0.10966543 0.10702219 0.0536702
 0.         0.         0.05181422 0.05069771 0.12067251 1.        ]